{% extends "mundial/base.html" %}
{% block contenido %} 
    <center>
        <div>
            <p> ㅤ</p>
         </div>
         <div>
             <p> ㅤ</p>
          </div>
        <div>
            <h4>Trabajo final del curso de Django de CoderHouse</h4>
            <h4>Creado y Desarrollado por </h4>
         </div>
         <img width="200" src="/static/mundial/assets/img/gonzalo.png">
        <div>
            <h4> Gonzalo Irusta </h4> 
        </div> 
        <div>
            Estudiante de Programación e Inglés 
        </div>
        <div>
           <p> ㅤ</p>
        </div>
        <div>
            <a href="https://www.facebook.com/gonzairusta" target="_blank">
            <img width="50" src="/static/mundial/assets/img/facebook.png">
            </a>
        
            <a href="https://www.youtube.com/channel/UCD48uRgKvPDyuEcr4kvi96g" target="_blank">
            <img width="50" src="/static/mundial/assets/img/youtube.png">
            </a>
            <a href="https://github.com/gonzairusta" target="_blank">
            <img width="50" src="/static/mundial/assets/img/github.png">
            </a>
            <a href="https://www.twitter.com/gonzairusta" target="_blank">
            <img width="50" src="/static/mundial/assets/img/twitter.png">
            </a>
            <a href="https://www.instagram.com/gonzairusta" target="_blank">
            <img width="50" src="/static/mundial/assets/img/insta.png">
            </a>
        </div>
        
    </center>
   
{% endblock %}