{% extends 'ejemplo/base.html' %}

<!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
  </head>
  <body>
      <h1>buscar mascota por nombre</h1>
    
      <form action="/mascotas/buscar" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
      </form>

      
      {% block titulo%} Buscar Mascotas por nombre {% endblock %}
      {% block contenido %}
  
        <form action="/mascotas/buscar" method="post">
          {% csrf_token %}
          {{ form }}
          <input type="submit" value="Submit">
        </form>

        {% for mascota in lista_mascotas %}
          <ul>
            <li> Nombre: {{mascota.nombre}}, Raza: {{mascota.raza}}, Edad: {{mascota.edad}}</li>
          </ul>
        {% endfor %}
      {% endblock %}

  </body>
  </html>